<div class="col-sm-12">
  <div class="card bs4Dash">
    <div class="card-header">
      <h3 class="card-title">
        <i class="fa fa-person-chalkboard" role="presentation" aria-label="person-chalkboard icon"></i>
        R / Pharma 22
      </h3>
      <div class="card-tools float-right">
        <span class="badge bg-lightblue">-</span>
        <button class="btn btn-tool btn-sm" type="button" data-card-widget="collapse">
          <i class="fa fa-minus" role="presentation" aria-label="minus icon"></i>
        </button>
      </div>
    </div>
    <div class="card-body">This has been included as an example, even though it happened last year. To show what an event looks like after it happened. It will be deleted </br>

<a href="https://rinpharma.com">Website link</a></div>
    <div class="card-footer">Online | <a href="https://rinpharma.com">Website link</a></div>
  </div>
  <script type="application/json">{"title":"R / Pharma 22","solidHeader":true,"width":12,"collapsible":true,"closable":false,"maximizable":false,"gradient":false}</script>
</div>